@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #f7fee7
}

.number {
  @apply w-14 h-14 rounded-full bg-[#131313] font-bold text-xl text-white text-center hover:bg-[#272727] shadow-2xl
}

.operator {
  @apply w-14 h-14 rounded-full bg-[#272727] font-bold text-xl text-white text-center hover:bg-[#313131] shadow-2xl
}

.equal {
  @apply bg-orange-600 w-14 h-14 rounded-full font-bold text-xl text-white text-center hover:bg-orange-500
}